*.snakemake
*.fastq.gz
*.fastq
*.fasta
*.fasta.gz
*.gff3
*.gtf
counts
reports
logs
gene-counts
transcript-counts
output-data
aligned-reads
clean-reads
reference-index
splice-junctions
normalised-reads
trinity-transcriptome-assembly
results
test*
*.e*
*.o*
bin
